nodered.json
[{"id":"4c4cb23.ea53c4c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"63a4d0b4.34174","type":"debug","z":"4c4cb23.ea53c4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]},{"id":"1527de98.4d7e71","type":"ibmiot in","z":"4c4cb23.ea53c4c","authentication":"apiKey","apiKey":"f6155198.be6fe","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":260,"wires":[["856b81ef.7fa78","7f59adfa.854904","447094b9.8e133c"]]},{"id":"eaaf2857.5a6048","type":"inject","z":"4c4cb23.ea53c4c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":140,"wires":[["63a4d0b4.34174"]]},{"id":"856b81ef.7fa78","type":"function","z":"4c4cb23.ea53c4c","name":"Temperature","func":"global.set('temperature',msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":260,"wires":[["63a4d0b4.34174","6d8f66d9.dfd148"]]},{"id":"7f59adfa.854904","type":"function","z":"4c4cb23.ea53c4c","name":"Humidity","func":"global.set('humidity',msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":360,"wires":[["63a4d0b4.34174","b8b85d76.c2251"]]},{"id":"6d8f66d9.dfd148","type":"ui_gauge","z":"4c4cb23.ea53c4c","name":"","group":"976b0a2b.002f48","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":260,"wires":[]},{"id":"b8b85d76.c2251","type":"ui_gauge","z":"4c4cb23.ea53c4c","name":"","group":"976b0a2b.002f48","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":360,"wires":[]},{"id":"bc88860b.3eb3e8","type":"ui_button","z":"4c4cb23.ea53c4c","name":"","group":"976b0a2b.002f48","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTORON\"}","payloadType":"json","topic":"","x":290,"y":660,"wires":[["ea14210f.c0bda","7a1cb662.f3c728"]]},{"id":"1ffcd21f.24ac0e","type":"ui_button","z":"4c4cb23.ea53c4c","name":"","group":"976b0a2b.002f48","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOROFF\"}","payloadType":"json","topic":"","x":280,"y":740,"wires":[["ea14210f.c0bda","7a1cb662.f3c728"]]},{"id":"ea14210f.c0bda","type":"ibmiot out","z":"4c4cb23.ea53c4c","authentication":"apiKey","apiKey":"f6155198.be6fe","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":700,"wires":[]},{"id":"1a4332e.e058bcd","type":"http in","z":"4c4cb23.ea53c4c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":80,"y":520,"wires":[["aa768303.77c8a"]]},{"id":"435d69b5.40e398","type":"http response","z":"4c4cb23.ea53c4c","name":"","statusCode":"","headers":{},"x":550,"y":460,"wires":[]},{"id":"aa768303.77c8a","type":"function","z":"4c4cb23.ea53c4c","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\"), 'moisture':global.get(\"moisture\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":500,"wires":[["435d69b5.40e398"]]},{"id":"4e4d212e.f8b19","type":"http in","z":"4c4cb23.ea53c4c","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":100,"y":580,"wires":[["cc05d0bf.a3408"]]},{"id":"d04449e6.44f3d8","type":"http response","z":"4c4cb23.ea53c4c","name":"","statusCode":"","headers":{},"x":550,"y":580,"wires":[]},{"id":"cc05d0bf.a3408","type":"function","z":"4c4cb23.ea53c4c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":580,"wires":[["d04449e6.44f3d8","5e72fa28.54f3d4","ea14210f.c0bda"]]},{"id":"5e72fa28.54f3d4","type":"debug","z":"4c4cb23.ea53c4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":520,"wires":[]},{"id":"447094b9.8e133c","type":"function","z":"4c4cb23.ea53c4c","name":"moisture","func":"global.set('moisture',msg.payload.moisture)\nmsg.payload=msg.payload.moisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":420,"wires":[["63a4d0b4.34174","7b958cab.a2b6a4"]]},{"id":"7b958cab.a2b6a4","type":"ui_gauge","z":"4c4cb23.ea53c4c","name":"","group":"976b0a2b.002f48","order":5,"width":0,"height":0,"gtype":"gage","title":"moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":400,"wires":[]},{"id":"7a1cb662.f3c728","type":"debug","z":"4c4cb23.ea53c4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":660,"wires":[]},{"id":"f6155198.be6fe","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"976b0a2b.002f48","type":"ui_group","z":"","name":"Default","tab":"8789faeb.bcd498","order":1,"disp":true,"width":"6","collapse":false},{"id":"8789faeb.bcd498","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]